
/*---------------------------Graph Styling----------------------------- */

/* Define custom colors for PieChart segments */
.chart-pie-color0 {
    -fx-pie-color: #20e49f; /* Green for GREAT mood */
}

.chart-pie-color1 {
    -fx-pie-color: #2cb2ff; /* Yellow for GOOD mood */
}

.chart-pie-color2 {
    -fx-pie-color: #838383; /* Blue for OKAY mood */
}

.chart-pie-color3 {
    -fx-pie-color: #a364f8; /* Yellow for POOR mood */
}

.chart-pie-color4 {
    -fx-pie-color: #fe6969; /* Yellow for BAD mood */
}


/*---------------------------Button Styling----------------------------- */

#button_homepage {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
}

#button_homepage: hover{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #838383; /* New background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

/* Styling for Daily Entry Button */
#button_daily_entry {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
}

/* Styling for Table Button */
#button_table {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
}

/* Styling for Daily Entry Button on Hover */
#button_daily_entry:hover {
    -fx-background-color: #838383; /* New background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

/* Styling for Table Button on Hover */
#button_table:hover {
    -fx-background-color: #838383; /* New background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

/* Styling for the doughnut chart */
.chart-pie-color0, .chart-pie-color1, .chart-pie-color2, .chart-pie-color3, .chart-pie-color4 {
    -fx-pie-color: #FFF1C9, #F7B7A3, #EA5F89, #9B3192, #57167e; /* Define colors for each mood */
}

.doughnut-chart {
    -fx-padding: 5;
    -fx-border-width: 2;
    -fx-border-color: #ffffff; /* Border color */
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-insets: 0;
    -fx-border-radius: 50%; /* Set border radius to create the doughnut effect */
}
