
/*---------------------------Graph Styling----------------------------- */

/* Define custom colors for PieChart segments */
.chart-pie-color0 {
    -fx-pie-color: #20e49f; /* Green for GREAT mood */
}

.chart-pie-color1 {
    -fx-pie-color: #2cb2ff; /* Blue for GOOD mood */
}

.chart-pie-color2 {
    -fx-pie-color: #838383; /* Grey for OKAY mood */
}

.chart-pie-color3 {
    -fx-pie-color: #a364f8; /* Purple for POOR mood */
}

.chart-pie-color4 {
    -fx-pie-color: #fe6969; /* Red for BAD mood */
}


/*---------------------------Button Styling----------------------------- */

#button_homepage {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
    -fx-text-fill: white;
}

#button_homepage: hover{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #838383; /* New background color on hover */
 /* Text color on hover */
}

/* Styling for Daily Entry Button */
#button_daily_entry {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
}

/* Styling for Table Button */
#button_table {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #838383;
    -fx-border-radius: 15;
}

/* Styling for Daily Entry Button on Hover */
#button_daily_entry:hover {
    -fx-background-color: #838383; /* New background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

/* Styling for Table Button on Hover */
#button_table:hover {
    -fx-background-color: #838383; /* New background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #838383 transparent; /* Only bottom border is black */
    -fx-border-width: 0 0 1 0; /* Set the width of the bottom border */
    -fx-padding: 0 0 0 3; /* Optional: Adjust padding to move the text away from the bottom border */
}
